# {{ ansible_managed }}
{% if auditd_daemon_config_merged is defined and auditd_daemon_config_merged %}
{% for key, value in auditd_daemon_config_merged.items() %}
{{ key }}="{{ value }}"
{% endfor %}
{% endif %}